.text-heading {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -3%;
}

.text-title-1 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -3%;
}

.text-title-2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -2%;
}

.text-title-3 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -2%;
}

.text-body-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-body-2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-body-3 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-body-4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-caption-1 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-caption-2 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-caption-3 {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -2%;
}

.text-friend-card-head {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.text-friend-card-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.3px;
}

.text-friend-card-desc {
  font-size: 15px;
  font-weight: 700;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0.3px;
}
